*.xcodeproj/*.mode*
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective*
*.xcworkspace/*.mode*
*.xcworkspace/*.pbxuser
*.xcworkspace/*.perspective*
*.xccheckout
*.xcscmblueprint
xcuserdata
.idea/

Carthage
