//
//  Build.xcconfig
//  Hamcrest
//
//  Created by René Pirringer on 13.05.25.
//  Copyright © 2025 Nikolaj Schumacher. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
